*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
	color: #fff;
	background-color: #000;
	font-family: Consolas,Menlo,
	Monaco,Lucida Console,
	Liberation Mono,DejaVu Sans Mono,
	Bitstream Vera Sans Mono,
	Courier New,monospace,serif;
}

.App_anim{
	position: relative;
	animation-name: appAnimation;
	animation-duration: .5s;
	/*-webkit-animation-delay: 3s;*/
	/*animation-delay: 3s;*/
}

.loader{
	position: absolute;
	left: 45%;
	top: 50%;
	z-index: 1;
	background:white;
	width:70px; height:70px;
	animation-name: loader;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}


@keyframes loader {
	0% {-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );}
	50% {-webkit-transform: perspective( 600px ) rotateX( 0deg );
	transform: perspective( 600px ) rotateX( 0deg );}
	100% {-webkit-transform: perspective( 600px ) rotateX( -180deg );
	transform: perspective( 600px ) rotateX( -180deg );}
}

@-webkit-keyframes loader {
	0% {-webkit-transform: perspective( 600px ) rotateY( 180deg );
	transform: perspective( 600px ) rotateY( 180deg );}
	50% {-webkit-transform: perspective( 600px ) rotateX( 0deg );
	transform: perspective( 600px ) rotateX( 0deg );}
	100% {-webkit-transform: perspective( 600px ) rotateX( -180deg );
	transform: perspective( 600px ) rotateX( -180deg );}
}


@keyframes appAnimation{
	0%{opacity: 0; top:200px;}
	100%{opacity: 1; top:0px;}
}

@-webkit-keyframes appAnimation{
	0%{opacity: 0; top:200px;}
	100%{opacity: 1; top:0px;}
}

.clear_fix{
	overflow: auto;
	width: 100%;
}

.main_container{
	padding: 60px 70px;
}

.header{

}

.brand{
	float: left;
}

.brand span{
	color: #44B272;
	font-weight: bold;
	font-size: 20px;
}

.brand a, .nav_items li a{
	color: #fff;
}

.brand a{
	text-decoration: none;
}

.nav_items{
	float: right;
	list-style-type: none;
}

.nav_items li{
	display: inline;
}

.nav_items li a{
	text-decoration: none;
}

.nav_items li:first-child{
	padding-left: 0px;
}

.nav_items li{
	padding-left: 70px;
}


/*two elements having 50% width
creates newLine because of space between
elements*/

.home{
	margin-top: 100px;
}

.quote{
	display: inline-block;
	width: 49%;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 10%;
}

.quote:before {
	content: '\201C';
	font-size: 57px;
	font-family: cursive;
	position: absolute;
	top: -30px;
	left: -28px;
}

.quote:after {
	content: '\201D';
	font-family: cursive;
}

.summary{
	margin-top: 15%;
	display: inline-block;
	width: 50%;
	font-size: 32px;
	text-align: right;
}

.summary .small_text{
	color: #a9a9a9;
	font-size: 18px;
	margin-bottom: 20px;
}

.section_title{
	margin: 50px 0;
	padding-right: 10px;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 5px solid #fff
}

.projects ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.projects ul li{
	/*float: left;
	width: 48%;
	height: 300px;
	margin-right: 1%;
	margin-bottom: 1%;
	margin-top: 25px;*/
}

.animated_element{
	float: left;
	width: 48%;
	height: 50px;
	overflow: hidden;
	margin-right: 1%;
	margin-bottom: 1%;
	opacity: 0;
	transition: all 0.6s;
	transition-delay: .02s;
	margin-top: 150px;
}

/*.animated_element:hover{
	margin-top: 0px;
}
*/
.effect{
	height: 300px;
	opacity: 1;
	margin-top: 0px;
}

.projects a{
	text-decoration: none;
	width: 100%;
	height: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 200px 200px;
	background-color: #fff;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
	-webkit-transition: filter .5s; /* Safari */
	transition: filter .5s;
}


.project_info{
	height: 300px;
	width: 50%;
	box-sizing: border-box;
	padding: 13px 40px;
	background-color: #fff;
	-webkit-transition: opacity .5s; /* Safari */
	transition: opacity .5s;
}

.project_info h2,
.project_info p{
	margin: 16px 0px;
}

.projects a:hover{
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
	filter: none;	
}

.projects a:hover .project_info {
	opacity: 0;
}

.profile{
	padding-top: 60px;
}

.profile .photo{
	width: 50%;
	float: left;
	text-align: center;
}

.profile .photo img{
	background-color: #272626;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.profile .photo hr{
	margin: 10px auto 10px auto;
	width: 47%;
	background-color: #44B272;
	height: 2px;
	border: 0;
}

.profile .photo a  {
	color: #fff;
	text-decoration: none;
}

.profile .photo .fa{
	display: table-cell;
	vertical-align: middle;
	background-color: #272626;
	height: 30px;
	width: 30px;
	border-radius: 50%;
}


.profile .photo .fa:hover {
	background-color: #44B272;
}

.profile .details{
	margin-top: 30px;
	width: 50%;
	float: right;
	line-height: 1.5;
	color: #a9a9a9;
}

.profile .details span{
	color: #fff;
}

.profile .details h2,
.profile .details p{
	margin-bottom: 20px;
}

.contact{
	background-image: 
	url("../image/keyboard_contactus2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 600px;
}

.contact_area{
	box-sizing: border-box;
	padding: 60px 70px;
	position: absolute;
	width: 100%;
	height: 600px;
	left: 0;
	top: 0;
	background-color: rgba(2,2,2,.7);
}

.contact form{
	width: 65%;
	margin-right: 5%;
	float: left;
}

.contact_info{
	width: 30%;
	float: left;
}

.contact form input[type=text]{
	background-color: transparent;
	width: 100%;
	padding: 14px 0;
	margin-bottom: 10px;
	color: #fff;
	font-size: 14px;
	text-indent: 10px;
	border: none;
	border-bottom: 2px solid #44B272;
	outline: none;
	/*transition: all .2s ease-in-out;*/
}

.contact form input[type=submit] {
	color: #fff;
	display: block;
	margin: 20px auto;
	border-radius: 50px;
	border: 2px solid #44B272;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	width: auto;
	padding: 14px 34px;
	text-indent: 0px;
	text-align: center;
	cursor: pointer;
}

.contact input[type=submit]:hover {
	background-color: #44B272;
}

.contact .contact_info h1{
	margin-top: 40px;
	margin-bottom: 40px;
}


.contact_info p{
	line-height: 25px;
	letter-spacing: 1px;
}

.contact_info p i{
	color: #44B272;
}

.contact .contact_info span{
	font-weight: bold;
}

.contact_info .phone{
	margin-top: 10px;
}

.contact_info .mail{
	margin-top: 10px;
}

.contact_info .address{
	margin-top: 10px;
}

/*.contact .phone:before {
    content: "\f095";
    font-family: "FontAwesome";
    margin-right: 10px;
    color: #44B272;
}*/

footer{
	text-align: center;
	padding: 70px 0px;
}

@media (max-width: 680px){
	
	.main_container{
		padding: 20px;
	}

	.quote,
	.summary,
	.animated_element,
	.photo,
	.details,
	.contact form,
	.contact_info{
		width: 100% !important;
	}

	.contact,
	.contact_area{
		height: 800px;
	}
	
	.loader{
		width:50px; 
		height:50px;
	}
}
