
<link rel="stylesheet" type="text/css" href="css/style.css">
<div class="event_container">
	<div ng-repeat="eventInfo in eventsInfo" class="single_day">
	  <div class="event_title">
	    <div class="event_date_area">
	      <div class="month">{{eventInfo.month_name}}</div>
	      <div class="date">{{eventInfo.day_date}}</div>
	    </div>
	    <div class="event_day">{{eventInfo.day_name}}</div>
	  </div>
	  <div ng-repeat="event in eventInfo.events" class="event_body">
	    <div class="event_name">{{event.eventname}}<span>[+]</span></div>
	    <div class="event_description">{{event.eventdesc}}</div>
	  </div>
	</div>
</div>

<!-- <input type="date" 
               ng-model="date" 
               value="{{ date | date: 'yyyy-MM-dd' }}" />

<br/>{{ date | date: 'dd/MM/yyyy' }}

<input type="text" name="firstname" ng-model="event.title">

<textarea rows="4" cols="30" ng-model="event.description">

</textarea>

<button ng-click="createEvent()">try</button>
 -->

<div id="create_new_event" ng-click="showAddEventMenu=true">+</div>

<div class="add_event" ng-show="showAddEventMenu">
	
	<input type="text" placeholder="Title of the event" ng-model="event.title">

	<textarea rows="4" cols="30" placeholder="Short description" ng-model="event.description">

	</textarea>

	<input type="date" ng-model="date" value="{{ date | date: 'yyyy-MM-dd' }}" />

	<button ng-click="createEvent()">Create</button>
	<button ng-click="showAddEventMenu=false">Cancel</button>

</div>
